body {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  max-width: 1024px;
  text-align: center;
  padding: 0 16px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

a {
  text-decoration: none;
}

.error {
  color: red;
  margin: 10px 0;
}

.filters {
  padding: 0 8px;
}

.repository-content-wrapper {
  margin-top: 30px;
}

.repository-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.card {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 16px 24px;
  margin-bottom: 16px;
  text-align: left;
}

.repository-item-name {
  font-weight: normal;
  margin: 0 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repository-branch-list-header {
  margin: 7px 0;
}

.branches-list {
  list-style-type: disc;
}

.branches-list li {
  padding-left: 6px;
  margin: 6px 0;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

input[type="text"] {
  border: 1px solid #d1d9e0;
  border-radius: 6px;
  padding: 9px 12px;
  width: 300px;
}

button {
  margin-right: 5px;
  padding: 9px 12px;
  border-radius: 6px;
  border: 1px solid #afb5ba;
  transition: background-color 0.1s;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #ccc;
  }
}

.btn-small {
  padding: 3px 6px;
}

.chip {
  border: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  background-color: #e0e0e0;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f0f0f0;
  }
}

.chip-selected {
  background-color: #007bff;
  color: white;

  &:hover {
    background-color: #007bff;
    color: white;
  }
}

.repository-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 24px;
}

.repository-column-1 {
  min-width: 300px;
}
