<header>
  <h1>GitHub Organization Viewer</h1>

  {{#if this.auth.isAuthenticated}}
    <p data-test-id="header-authenticated-info-message">
      You are authenticated.
      <LinkTo @route="logout">Logout</LinkTo>
    </p>
  {{/if}}
</header>
