<form {{on "submit" this.authenticate}}>
  <p>
    Provide GitHub Access Token. You can generate a new one from
    <a href="https://docs.github.com/en/rest)" target="_blank" rel="noopener noreferrer">here ↗</a>.
  </p>
  <label>
    <input
      required
      placeholder="Paste GH Token"
      type="text"
      value={{this.accessToken}}
      {{on "input" this.updateAccessToken}}
    />
  </label>

  {{#if this.errorMessage}}
    <div class="error">{{this.errorMessage}}</div>
  {{/if}}

  <button type="submit">Authenticate</button>
</form>
